<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="COMANDFASTEntities" connectionString="metadata=res://*/data.Modelo.csdl|res://*/data.Modelo.ssdl|res://*/data.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-37R0B6JS\SQLEXPRESS;initial catalog=COMANDFAST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>